@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(#01758E, #36C1BB);
    height: 100vh;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
}

header {
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
}

#weather {
    background: #1094A0;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    position: relative;
    box-shadow: 0 2px 4px rgba(0,0,0.5);
}

.weather-main {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.weather-main .day h5 {
    font-weight: 300;

}

.temperature {
    font-size: 6rem;
}

.weather-main span {
    position: absolute;
    right: 1.7rem;
}

#weather-week {
    background: #1094A0;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0.5);
}